country_code={YOUR_COUNTRY_CODE}
interface=wlan0
bridge=br0
ssid={YOUR_NETWORK_SSID}
hw_mode=a
channel=36
macaddr_acl=0
auth_algs=1
ignore_broadcast_ssid=0
wpa=2
wpa_passphrase={YOUR_NETWORK_PASSWORD}
wpa_key_mgmt=WPA-PSK
wpa_pairwise=TKIP
rsn_pairwise=CCMP